:root {
    /* Colors */
    --primBlue-100:  #00ABFF;
    --primBlue-200:  #009AE5;
    --primBlue-300:  #0089CC;
    --primBlue-400:  #0078B2;
    --primBlue-500:  #006799; 
    --primBlue-600:  #005580;
    --primBlue-700:  #004466;
    --primBlue-800:  #00334D;
    --primBlue-900:  #002233;
    --primBlue-1000: #00111A;
    
    --primGreen-100:  #00FF92;
    --primGreen-200:  #00E583;
    --primGreen-300:  #00CC74;
    --primGreen-400:  #00B265;
    --primGreen-500:  #009957;
    --primGreen-600:  #008049;
    --primGreen-700:  #00663A;
    --primGreen-800:  #004D2C;
    --primGreen-900:  #00331E;
    --primGreen-1000: #001A0F;
    
    --accShade-100:  #E6E6E6;
    --accShade-200:  #CCCCCC;
    --accShade-300:  #B3B3B3;
    --accShade-400:  #999999;
    --accShade-500:  #808080;
    --accShade-600:  #666666;
    --accShade-700:  #4C4C4C;
    --accShade-800:  #333333;
    --accShade-900:  #191919;
    
    --neuDark-100: #0A0A0A;
    --neuDark-75: #1A1A1A;
    --neuDark-50: #262626;
    --neuDark-25: #333333;
    
    --neuWhite-100: #FEFEFE;
    --neuWhite-75: #F2F2F2;
    --neuWhite-50: #E6E6E6;
    --neuWhite-25: #D9D9D9;
    
    --focBlue-100: #02438C;
    --focBlue-75: #0356B2;
    --focBlue-50: #0469D9;
    --focBlue-25: #057BFF;
    
    --warnOrange-100: #402000;
    --warnOrange-75: #804100;
    --warnOrange-50: #BF6100;
    --warnOrange-25: #FF8200;
    
    --errRed-100: #8C1C1F;
    --errRed-75: #B32427;
    --errRed-50: #D92B30;
    --errRed-25: #FF3338;
    
    --succGreen-100: #097400;
    --succGreen-75: #0C9900;
    --succGreen-50: #10BF00;
    --succGreen-25: #13E500;
    
    --radius-20: 20px;
    
    --boxShadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    outline: none;
}

body {
    background-color: black;
}

@font-face {
    font-family: 'Givonic-Black';
    src:    url(/frontend/assets/fonts/Givonic/Givonic-Black.ttf) format('truetype'),
            url(/frontend/assets/fonts/Givonic/Givonic-Black.otf) format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Givonic-Bold';
    src:    url(/frontend/assets/fonts/Givonic/Givonic-Bold.ttf) format('truetype'),
            url(/frontend/assets/fonts/Givonic/Givonic-Bold.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Givonic-Sembold';
    src:    url(/frontend/assets/fonts/Givonic/Givonic-SemiBold.ttf) format('truetype'),
            url(/frontend/assets/fonts/Givonic/Givonic-SemiBold.otf) format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Givonic-Regular';
    src:    url(/frontend/assets/fonts/Givonic/Givonic-Regular.ttf) format('truetype'),
            url(/frontend/assets/fonts/Givonic/Givonic-Regular.otf) format('opentype');
    font-weight: 450;
    font-style: normal;
}
@font-face {
    font-family: 'Givonic-Light';
    src:    url(/frontend/assets/fonts/Givonic/Givonic-Light.ttf) format('truetype'),
            url(/frontend/assets/fonts/Givonic/Givonic-Light.otf) format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Givonic-Thin';
    src:    url(/frontend/assets/fonts/Givonic/Givonic-Thin.ttf) format('truetype'),
            url(/frontend/assets/fonts/Givonic/Givonic-Thin.otf) format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Medium';
    src:    url(/frontend/assets/fonts/inter/Inter-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src:    url(/frontend/assets/fonts/inter/Inter-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}